example@form page

<%= form_for  %>

  <p>
    <%= f.label :%>
    <%= f.text_field %>
  </p>

  <p>
    <%= f.label %>
    <%= f.text_field %>
  </p>
  <p>
    <%= f.label %>
    <%= f.text_field %>
  </p>
  <p>
    <%= f.label %>
    <%= f.text_field %>
  </p>
  <p>
    <%= f.label %>
    <%= f.text_field %>
  </p>
  <p>
    <%= f.submit "Save!" %>
  </p>
<% end %>
